@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-gray-custom: #82888C;
}

/* Globalne style */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
